body {
    margin: 0;
}

.content-bg {
    background-color: #121212;
    margin: 0px 0px !important;
}

/*パンくずリスト*/
.ant-breadcrumb-link {
    color: white;
}
.ant-breadcrumb-separator {
    color: white !important;
}
/*サイドバー*/
.app-logo {
    background-color: #272736 !important;
}
.app-logo>a{
    color: #6375ff;
    font-size: xx-large;
}
.ant-layout-sider-children{
    background-color: #272736;
}
.ant-menu {
    background-color: #272736;
}
.ant-menu-sub {
    background-color: #21212f !important;
}

.ant-layout-content {
    background-color: #121212 !important;
    margin: 0 !important;
    padding-left: 1rem !important;
}

/*ヘッダー*/
.ant-layout-header {
    background-color: #121212 !important;
    color: #8d8d8d;
}

/*フッター*/
.ant-layout-footer {
    background-color: #121212 !important;
    color: #8d8d8d;
}